.about{
  height: 50%;

  margin: 8% 8% 8% 3%;
  padding-right: 2%;
  transform: skew(-14deg); 
  h2{
    font-size: 1.8rem; 
  }
  img{
    transform: skew(14deg); 

  }
  ul{
    display: flex;
    justify-content: space-around;
    //margin: 0;
    padding: 0;
    li{
      padding: 3px;
      margin: 3px;
    }
   
  }

 
}

@media screen and (max-width: 1283px) {
 

  .about{
    
    transform: skew(-5deg); 
    h2{
      transform: skew(5deg); 
      font-size: 1.8rem; 
     
    }
    img{
      transform: skew(5deg);
      min-width: 80%;
      max-width: 80%; 
    }
    #portrait{
      min-width: 280px;
      max-width: 280px;
    }
  }
}

@media screen and (max-width: 930px) {
  .about{
    h2{

      font-size: 1.5rem; 
    }
    img{
      min-width: 70%;
      max-width: 70%;
    } 
    #portrait{
      min-width: 190px;
      max-width: 190px;
    }
   
  }
}

//small
@media screen and (max-width: 830px) {
  
  
  .about{
      height: 60%;
      
      h2{
        font-size: 1.5rem; 
      }
      img{
        min-width: 70%;
        max-width: 70%;
      } 
      #portrait{
        min-width: 190px;
        max-width: 190px;
      }

  }
}

@media screen and (max-width: 681px) {
  .about{
    margin-left: 10%;
    #portrait{
      min-width: 100px;
      max-width: 100px;
    }
    
  }
}

