html, body{
  //Text
  font-family: 'VT323', monospace;
  color: white;
}

.App{
  display: inline-block;
  width: 100vw;
  height: 100vh;
  margin: none;
  padding: none;
  //Grid layout
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

@media screen and (max-width: 400px) {
  .App{
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }
  
}

li{
list-style: none;
}
.clouds{
  display: none;
}



//Star background layer 
#stars_layer_1{
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width:95vw; 
  height:95vh;
  opacity: 1;
  animation: fade 3s infinite;

}
#stars_layer_2{
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  width:95vw; 
  height:95vh;
  opacity: 1;
  animation: fade 3s infinite;
  animation-delay: 1s;
}
#stars_layer_3{
  position: absolute;
  top: 0;
  right: 0;
  z-index: -3;
  width:95vw; 
  height:95vh;
  opacity: 1;
  animation: fade 3s infinite;
  animation-delay: 2s;
}
@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}



//Desktop 
//Adds clouds to larger screens 
@media screen and (min-width: 43rem) {
  .clouds{
    position: fixed;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
    pointer-events: none; 
    #cloud_right{
      animation: 3s bounce_right ease-in-out infinite paused;
      animation-play-state: running;
    
  
    }
    #cloud_left{
      animation: 3s bounce_left ease-in-out infinite paused;
      animation-play-state: running;
   
  
    }
  }
  @keyframes bounce_right {
    0%, 5%, 95%, 100% {
        left: 0%;
        transform: translate(2%, 0);
    }
    45%, 55% {
        left: 100%;
        transform: translate(0%, 0);
    }
  }
  
  @keyframes bounce_left {
    0%, 5%, 95%, 100% {
        left: 0%;
        transform: translate(0%, 0);
    }
    45%, 55% {
        left: 100%;
        transform: translate(-2%, 0);
    }
  }
  
}