.education{
    margin: auto;
    padding: auto;
    h3{
        font-weight: lighter;
    }
    .education-icons{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        
        div{
            img{
                width: 90%;
                &:hover{
                    width: 100%;
                }
            }
           
        }
      

    }
  

}

@media screen and (max-width: 300px) {
    .education{
        h2{
            font-size: .7rem;
        }
        .education-icons{
            div{
                img{
                    width: 70%;
                    &:hover{
                        width: 80%;
                    }
                }
            }
        
        }
    }
}