.education{
    margin: auto;
    padding: auto;
    h3{
        font-weight: lighter;
    }
    .education-icons{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

    }
}