.experience{
    height:100%;
    .jobTitles{
 
        font-size: .5rem; 
        display: flex;
        flex-wrap: wrap;
        flex: 2 1 auto;
        justify-content: space-around;
        align-items: center;
        padding: 1px;
        margin: 1px;
        div{
            margin: 5px;
            border: solid;
        }
        img{
            height: 100%;
        }
    
        .selected{
            border-bottom:solid;
        }
       
      
    }
    
    
    .jobDescription{
        height: 65%;
        overflow-y: scroll;
        margin: 10px;
        padding: 10px;
        margin-right: 0;
        padding-right: 0;
        text-align: start;
        h4{
            font-weight: lighter;
        }
        p{
            font-family: 'Courier New', Courier, monospace;

        }
        li{
            list-style: square;
            font-family: 'Courier New', Courier, monospace;

        }
        
    }
}

@media screen and (max-width: 500px) {
    .experience{
        .jobTitles{
            margin-top: 50px;
            img{
                width: 20%;
            }
        
        }


        .jobDescription{
            h2{
                font-size: 1.5rem;
                
            }
            h4, p, li{
                font-size: 1rem; 
            }
       
        }
    }
}