
.main{
    //Main layout
    grid-row:2 / 6;
    grid-column: 2 /6;
    //Border style
    border-style:dashed;
    border-width: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

@media screen and (max-width: 400px) {
    .main{
        border-width: 8px;
        grid-row:2 / 10;
        grid-column: 2 /10;
    
    }
    
}
