.main{

    color: white;
    position: absolute;
    top: 15%;
    left: 15%;
    z-index: 0;
    width:60%; 
    height:50%;
    padding: 3%;
    margin: 3%;
    border-style:dashed;
    border-width: 10px;
    //layout
    display: flex;
    justify-content: space-between;
  
    

}

@media screen and (max-width: 1283px) {
    .main{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        height: 60%;
       
    }
}
