
.main{
    //Main layout
    grid-row:2 / 6;
    grid-column: 2 /6;
    //Border style
    border-style:dashed;
    border-width: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

@media screen and (max-width: 400px) {
    .main{
        border-width: 8px;
        grid-row:2 / 10;
        grid-column: 2 /10;
    
    }
    
}
// .main{
//     display: flex;
//     flex-direction: column-reverse;
//     justify-content: center;
//     align-content: center;
//     width: 80%;
//     height: 80%;
//     padding: 5%;
//     margin: 3%;

//     color: white;
//     //position: absolute;
//     // border-style:dashed;
//     // border-width: 3px;
//     // border-width: 10px;
   
// }

// // @media screen and (max-width: 1283px) {
// //     .main{
// //         display: flex;
// //         flex-direction: column-reverse;
// //         justify-content: center;
// //         height: 60%;
       
// //     }
// // }


// // @media screen and (max-width: 300px) {
// //     .main{
// //         display: flex;
// //         flex-direction: column-reverse;
// //         justify-content: center;
// //         height: 70%;
       
// //     }
// // }
// @media screen and (min-width: 700px) {
//     .main{
//         color: white;
//         position: absolute;
//         z-index: 0;
//         width:60%; 
//         height:50%;
//         padding: 3%;
//         margin: 3%;
//         border-style:dashed;
//         border-width: 10px;
//         //layout
//         display: flex;
//         justify-content: space-between;
//     }
    
// }

// @media screen and (min-width: 400px) {
//     .main{
//         display: flex;
//         flex-direction: column-reverse;
//         justify-content: center;
//         align-content: center;
//         width: 80%;
//         height: 80%;
//         padding: 5%;
//         margin: 3%;
    
//         color: white;
//         //position: absolute;
//         border-style:dashed;
//         border-width: 3px;
//         border-width: 10px;
//     }
    
// }
