.skills-content{

    max-height: 100%;
    width: 100%;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    
    gap: 0;

    

    h2{
        text-align: start;
        margin: 0;
    }
 
    li{
      
        display: grid;
        grid-template-columns: .5fr 1fr 2fr .5fr;
        align-content: center;
        margin: auto;
        padding: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 1.3rem;
        text-align: start;
        img{
            
            margin-right:10px;
        }
    }
    ul{
      
        background-color: rgba(24, 52, 119, 0.99);
        border: solid;
        margin: 10px;
        padding: 10px;
        max-width: 100%;
        
    }
    ul:first-child{
        background-color: inherit;
        border: none;
    }

   #hp{
        background-color: rgb(48, 179, 39);
        width: 100%;
    }
    #mp{
        background-color: rgb(14, 205, 234);
        width: 100%;
    }
    .info{
        grid-area: 1/1/1/6;

    }
    .languages{
        grid-area: 2/1/3/6;
      
    }
    .libraries{
        grid-area: 2/6/3/11;
    }
    .paradigms{
        grid-area: 3/1/3/11;
        
    }
    

}

::-webkit-scrollbar {
    width: 5px;
  }
::-webkit-scrollbar-thumb {
    background: #cf0ae9;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;

  }

.statBar, div:empty{
    align-self: center;
    margin-left: 2%;
    width: 100%;
    background-color: rgb(186, 94, 176);
    outline: 1px solid rgb(40, 22, 2);
    height: .5rem;
    
   
}

@media screen and (max-width: 500px) {
    .skills-content{
    
        display: flex;
        flex-direction: column;
       
    }
}
